node-red/insert-secret.json
[
    {
        "id": "c8d53307f3bffc82",
        "type": "tab",
        "label": "Flow 1",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "f14ca3a2.04c36",
        "type": "mqtt in",
        "z": "c8d53307f3bffc82",
        "name": "receive message",
        "topic": "esp32-totp-write-new-secret",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "6890d8a924fea5e9",
        "nl": false,
        "rap": false,
        "inputs": 0,
        "x": 440,
        "y": 340,
        "wires": [
            [
                "524e3e8d9382ce0e"
            ]
        ]
    },
    {
        "id": "524e3e8d9382ce0e",
        "type": "debug",
        "z": "c8d53307f3bffc82",
        "name": "print received message",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 690,
        "y": 340,
        "wires": []
    },
    {
        "id": "f68ed7fbe5778d12",
        "type": "mqtt out",
        "z": "c8d53307f3bffc82",
        "name": "post message",
        "topic": "esp32-totp-write-new-secret",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "6890d8a924fea5e9",
        "x": 660,
        "y": 260,
        "wires": []
    },
    {
        "id": "a8f68b070daad2de",
        "type": "inject",
        "z": "c8d53307f3bffc82",
        "name": "Insert Secret",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "{\"service\":\"test\",\"key\":\"ABCDABCDABCDABCD\"}",
        "payloadType": "json",
        "x": 450,
        "y": 260,
        "wires": [
            [
                "f68ed7fbe5778d12"
            ]
        ]
    },
    {
        "id": "6890d8a924fea5e9",
        "type": "mqtt-broker",
        "name": "",
        "broker": "mosquitto",
        "port": "1883",
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": "5",
        "keepalive": "60",
        "cleansession": true,
        "autoUnsubscribe": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthRetain": "false",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closeRetain": "false",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willRetain": "false",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    }
]